[Unit]
Description=Typikon Web Meta

[Service]
ExecStart=npm start
Restart=on-failure
User=admin
WorkingDirectory=/home/admin/typikon-web-meta

[Install]
WantedBy=multi-user.target